body {
    background-image: url('beans.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

#heading1 {
    text-align: center;
}

h1, h2, p, footer, span {
    text-align: center;
    display: block;
    font-size: 20px;
}

table {
    width: 80%; /* Makes table width responsive */
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 23px;
    background-color: burlywood;
}

table td {
    padding: 10px;
}

/* Mobile responsive design */
@media only screen and (max-width: 600px) {
    body {
        background-size: contain;
    }
    h1, h2, p {
        font-size: 16px;
    }
    table {
        width: 100%;
        font-size: 18px;
        padding: 5px;
    }
    footer {
        font-size: 14px;
    }
}
