body, ul, li, h2, h1, {
    padding: 0px;
    margin: 0px;
    font family: arial;



}




header{
   position: fixed;
   width: 100%;
   background-color: rgb(120, 177, 46);
   text-align: center;
   z-index: 1;
   margin-top: 0%;


}
.header{position: relative;}
.header image {max-width: 500%;
              max height: 100%;

}
.header .welcome {
    position: absolute;
    top: 40%;
    left: 0px;
    background-color: rgb(206, 174, 95);
    color: rgb(180, 46, 46);
    padding: 0px;
}
.header h2{
    font-size: 30px;
}
 nav{
    background-color: beige;
    padding: 20px;
 }
 nav ul{ white-space: nowrap;
         max-width: 2000px;
         margin: 0% auto;
}
 
 nav li{
    width: 30%;
    display: inline-block;
    font size: 40px;



 }